.rc-pageSTUD {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-family:  Arial;
    /* font-size: 1.625rem; */
    font-weight: 700;
    line-height: 33px;
    display: flex;
  }

.flex-containerSTUD {
    color: #264d75;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .image-1STUD {
    width: 70px;
    height: 75px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .icbaseline-menuSTUD {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 1px;
    margin-left: 356px;
  }
  .titleSTUD{
    position: absolute;
    left: 160px;
    font-size: 22px;
    color: #264D75;
  }
  .title-1STUD{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #3b7bbb;
    font-size: 40px;
    font-weight: 800;
    font-family: system-ui, 'Segoe UI', 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
  }
  .clearance-formSTUD{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 120px;
    width: 100%;
    padding-left: 250px;
  }

  .labelSTUD{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #264D75;
    padding: 10px;
  }
  .label1STUD{
    margin-top: -3px;
  }
  .label2STUD{
    margin-top: 20px;
  }
  .label3STUD{
    margin-top: 20px;
  }
  .label4STUD{
    margin-top: 20px;
  }

  .input-boxesSTUD{
    display: flex;
    flex-direction: column;
    width:25%
  }
  .input-box1STUD{
    padding: 5px;
    margin: 12px;
    height:30px;
    width: 220px;
  }
  .reasonSTUD{
    padding: 5px;
    margin: 10px;
   resize: none;
   width: 220px;
   height:80px;
  }
  .rc-btn2STUD {
    color: #fff;
    /* height: 50%; */
    width: 79%;
    background: linear-gradient(#3b7bbb 0%, #326394 100%);
    border: none;
    border-radius: 6px;
    flex-direction: row;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  }
  .flex-container-4STUD {
    flex-direction: column;
    flex-basis: 20%;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 7px;
    font-family:Arial;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 23px;
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .rectangle-1STUD {
    width: 115%;

    height: 150px;
    /* border-radius: 0px; */
    margin-bottom: -15px;
    margin-left: -78px;
    overflow: hidden;
  }
  
  .rectangle-2STUD {
    z-index: 1;
    width: 100%;
    background-color: #264d75;
    flex-direction: row;
    flex-basis: 24%;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-right: 1px;
    display: flex;
  }
  
  .num-2022-addis-ababaSTUD {
    margin-top: 1px;
    font-size: 14px;
    font-weight: 500;
  }
  .status-tableSTUD{
    color: #264D75;
    width: 55%;
  height: 325px; 
    background-color: white;
    overflow-y:scroll;
  }
  .styled-tableSTUD {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 12px;
    font-family: sans-serif;
    /* min-width: 400px; */
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /**/
    height:450px;
}
.styled-tableSTUD thead tr {
    background-color: #3b7bbb;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

/* .styled-table thead tr {
    position: fixed;
} */
.styled-tableSTUD th,
.styled-tableSTUD td {
    padding: 10px 13px;
}
.styled-tableSTUD tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-tableSTUD tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-tableSTUD tbody tr:last-of-type {
    border-bottom: 2px solid #264D75;
}
.styled-tableSTUD tbody tr.active-row {
    font-weight: bold;
    color: #264d75;
}